<nav class="navbar navbar-fixed-top navbar-light" style="background-color: white;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar" aria-controls="exCollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
    &#9776;
  </button>
  <div class="collapse" id="exCollapsingNavbar">
    <div class="p-a-1" style="background-color: #e3f2fd;">
      <div class="row">
        <div class="col-md-6">
          
        </div>
      </div>
      <h4>Collapsed content</h4>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
</nav>
