<div class="navbar-collapse collapse inverse" id="navbar-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h4>Guide</h4>
        <p class="text-muted">
          Players are currently ranked by win percentage (awful we know, colley+mussey method coming soon)
          <ul class="text-muted">
            <li>Create 2 or more players</li>
            <li>Add results of games played between them</li>
            <li>See players ranked!</li>
          </ul>
        </p>
      </div>
      <div class="col-md-6">
        <h4>Tools</h4>
        <ul class="list-unstyled">
          <li><%= link_to 'new player', new_player_path %></li>
          <li><%= link_to 'new game', new_match_path %></li>
          <li><%= link_to 'all games', matches_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="navbar navbar-static-top navbar-full navbar-light bg-primary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-header">
      &#9776;
    </button>
    <%= link_to 'FifaLeague', root_path, class: "navbar-brand" %>
  </div>
</div>
