<div class="navbar-collapse collapse inverse" id="navbar-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h4>About</h4>
        <p class="text-muted">
          Blah blah blah. Add new players, games and so on. Blah blah blah
        </p>
      </div>
      <div class="col-md-6">
        <h4>Tools</h4>
        <ul class="list-unstyled">
          <li><%= link_to 'new player', new_player_path %></li>
          <li><a href="#">new game</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="navbar navbar-static-top navbar-full navbar-dark bg-inverse">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-header">
      &#9776;
    </button>
    <%= link_to 'FifaLeague', root_path, class: "navbar-brand" %>
  </div>
</div>
