<!-- TODO Fix this so '-' is displayed if player doesn't exist or no player is selected -->
<div id="player1_score" class="col-xs-1 text-xs-center">
  <h2><%= @player1.matches_won_against(@player2).count %></h2>
</div>
<div class="col-xs-2 text-xs-center">
  <h2>vs</h2>
</div>
<div id="player2_score" class="col-xs-1 text-xs-center">
  <h2><%= @player2.matches_won_against(@player1).count %></h2>
</div>
