<div class="row">
  <div class="col-md-4">
    <h1>Player ranking</h1>
    <p class="text-muted">Players ranked by win percentage</p>
    <%= render 'league_table' %>
  </div>

  <div class="col-md-8">
    <h1>Matches</h1>
    <p class="text-muted">Last 10 games played</p>
    <% @matches.each do |match| %>
      <%= render match %>
    <% end %>
  </div>
</div>
