<div class="row">
  <div class="col-md-4">
    <%= render 'player_card' %>
  </div>
  <div class="col-md-8">
    <% @player.matches.each do |match| %>
      <%= render match %>
    <% end %>
  </div>
</div>
