<div class="row">
  <div class="col-md-6 offset-md-3">
    <h2>
      New game
      <small class="text-muted">add a new match between players</small>
    </h2>
    <%= render 'match_form' %>
  </div>
</div>
