<div class="row">
  <div class="col-md-2">
    <h1 class="display4">Settings</h1>
  </div>
  <div class="col-md-8 offset-md-2">
    <%= render @match %>
    <%= link_to 'delete', @match, method: :delete, data: {confirm: "Delete \"#{@match.winning_player.name} vs. #{@match.losing_player.name}\"?"}, class: 'btn btn-block btn-danger' %>
  </div>
</div>
